.admin-page {
}

.admin-page h4 {
  text-align: center;
  color: rgb(110, 108, 94);
}
.admin-page h5 {
  text-align: center;
  color: rgb(70, 83, 83);
}

.admin-page .content {
  display: flex;
  min-height: 90vh;
}

.admin-page .products {
  flex: 3;
}

.admin-page .coupons {
  flex: 2;
}
