.product h3 {
  color: darkgreen;
}

.product {
  border: 1px solid grey;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 5px 5px 5px grey;
}

.product .productImg {
  height: 300px;
  width: 300px;
}
.product label {
  display: block;
}
