.product-cart {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.product-cart img {
  height: 90px;
  flex: 1;
}

.product-cart .description {
  flex: 7;
}

.product-cart label {
  flex: 1;
}

.product-cart .btn {
  flex: 1;
}
